<label for='character-search'>Search by name:</label>
<div class='input-group mb-3'>
  <input
    type='search'
    class='form-control'
    id='character-search'
    name='q'
    aria-label='Search by character name'
  />
</div>